body {
  background-color: black;
  color: rgb(255, 255, 255);
}
h1,
h2 {
  font-family: "Josefin Sans", sans-serif;
}

h3,
h4,
h5,
p,
a {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/images/ice.jpeg);
  width: 100%;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  padding: 200px 0;
  color: rgb(221, 226, 231);
  text-align: center;
}

header h1,
h2,
h3 {
  opacity: 0.5;
  margin: 40px;
}

header h1 {
  font-size: 64px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-top: 50px;
}

header h2,
main h2 {
  font-size: 36px;
  font-weight: 400;
}

header h3,
main h3 {
  text-transform: uppercase;
  letter-spacing: 15px;
  font-size: 20px;
  font-weight: 400;
}

header a {
  text-decoration: none;
  background-color: white;
  opacity: 0.9;
  color: black;
  padding: 10px 20px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  opacity: 0.5;
  font-size: 16px;
  border-radius: 2px;
  letter-spacing: 2px;
}

.description {
  padding: 0 50px 0 40px;
}

.subsection {
  padding-top: 60px;
  padding-bottom: 40px;
}

main h2,
h3,
footer h2 {
  margin: 0;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/road.jpeg);
  max-width: 100%;
  margin: 0 auto;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  padding: 40px 30px 20px 30px;
  color: rgb(221, 226, 231);
}

footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer p,
a {
  opacity: 0.5;
  font-size: 15px;
  line-height: 1.5;
}

footer a {
  color: rgb(188, 187, 210);
  text-decoration: none;
}
.img-responsive {
  width: 100%;
}

.about {
  padding: 30px;
}

.center {
  text-align: center;
}

.embed {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.cards {
  margin-top: 30px;
}

.card {
  background-color: rgba(203, 200, 200, 0.4);
  padding: 30px 30px 0 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h4 {
  letter-spacing: 3px;
  font-weight: 300;
  color: rgb(0, 0, 0, 0.6);
  margin: 10px;
}

.card h5 {
  letter-spacing: 1px;
  font-size: 28px;
  font-weight: 400;
  color: rgb(0, 0, 0, 0.6);
  margin: 20px 0 0 0;
}

.card a {
  background-color: black;
  padding: 10px 20px;
  color: #e7e5e7;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  opacity: 0.5;
  font-size: 16px;
  border-radius: 2px;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 20px;
}

main {
  padding: 100px 30px 50px 30px;
  background-color: #e7e5e7;
}

main p,
main h2,
main h3,
.card p {
  color: black;
  opacity: 0.5;
  line-height: 1.5;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-mixed {
  grid-template-columns: 1fr 1fr 3fr 2fr;
}

.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.about-me {
  padding-right: 40px;
}

@media (max-width: 900px) {
  header {
    padding: 50px 0;
  }

  header h1,
  h2,
  h3 {
    margin: 20px;
  }
  header h1 {
    font-size: 42px;
  }

  header h2,
  main h2 {
    font-size: 22px;
  }

  header h3,
  main h3 {
    font-size: 12px;
  }

  p {
    font-size: 15px;
  }

  .card h5,
  h4 {
    margin-top: 10px;
  }

  .grid {
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
  .subsection {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  main {
    padding: 30px 5px;
    text-align: center;
  }

  .volcano {
    display: none;
  }

  main h3 {
    margin: 0;
  }

  .cards {
    margin-top: 10px;
  }
}
