body {
  background-color: black;
  color: rgb(255, 255, 255);
}
h1,
h2 {
  font-family: "Josefin Sans", sans-serif;
}

h3,
h4,
h5,
p {
  font-family: "Open Sans", sans-serif;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/ice.jpeg);

  width: 100%;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  padding: 200px 0;
  color: rgb(221, 226, 231);
}

header h1,
h2,
h3 {
  opacity: 0.5;
  text-align: center;
  margin: 40px;
}

header h1 {
  font-size: 64px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-top: 50px;
}

header h2 {
  font-size: 36px;
  font-weight: 400;
}

header h3 {
  text-transform: uppercase;
  letter-spacing: 15px;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 780px) {
  header {
    padding: 50px 0;
  }

  header h1,
  h2,
  h3 {
    margin: 20px;
  }
  header h1 {
    font-size: 32px;
  }

  header h2 {
    font-size: 18px;
  }

  header h3 {
    font-size: 10px;
  }
}
